# secrets.yaml template for espgensam
# Copy this file to secrets.yaml and fill in your credentials.

wifi_ssid: "MyWiFiNetwork"
wifi_password: "MySecretWiFiPassword"
ap_password: "FallbackAccessPointPassword"
api_key: "GENERATE_A_BASE64_KEY_OR_USE_ESPHOME_WIZARD"

